<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <title>FisherMan
    </title>
</head>

<body style="
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    ">
    <a href="/" style="
        position: absolute;
        top: 0;
        left: 0;
        font-size: larger;
        padding: 1rem;
      ">Back Home</a>
    <h1>Hello Fishlover!</h1>

    <div>
        <form method="get" class="fish-form">
            <label for="fishName">Name of Fish</label>
            <input type="text" name="fishName" id="fishName" />
            <button>Is it a Fish?</button>
        </form>
        <p>
            <%= getFish ? getFish : omg %>
        </p>
    </div>
</body>

</html>
﻿