<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<center>

  <body>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <img src="/images/pika.jpg" alt="roidpika" />
    <br>
    <div class="links">
      <a href="/users">Users</a> <a href="/calculator">Calculator</a>
    </div>
  </body>
</center>

</html>